body {
    --disabled--bs-link-color-rgb: 66, 184, 131 !important;
    --disabled--bs-link-hover-color-rgb: 64, 180, 128 !important;
}

nav.navbar i.bi {
    --color: #22cbe1;
}

nav.navbar a.nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav.navbar a.navbar-brand img {
    height: 46px;
    margin: 2px 0.3em 2px 0.2em;
}

nav.navbar ul.dropdown-menu {
    padding: 2px;
    width: max-content;
}

nav.toc li>ul {
    display: block !important;
}

nav.toc span.expand-stub {
    display: none !important;
}

div.affix a.link-body-emphasis {
    font-weight: bold;
}