@import url('https://fonts.googleapis.com/css2?display=swap&family=Inter:wght@200;300;900');
@import url('https://fonts.googleapis.com/css2?display=swap&family=Montserrat:wght@200;300;900');
@import url('https://fonts.googleapis.com/css2?display=swap&family=M+PLUS+2:wght@200;300;900');
@import url('https://fonts.googleapis.com/css2?display=swap&family=Poppins:wght@200;300;900');

body {
    --DISABLED--bs-link-color-rgb: 66, 184, 131 !important;
    --DISABLED--bs-link-hover-color-rgb: 64, 180, 128 !important;
}

nav.navbar i.bi {
    -color: #22cbe1;
}

nav.navbar a.navbar-brand,
nav.navbar a.nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav.navbar a.navbar-brand img {
    height: 46px;
    margin: 2px 0.3em 2px 0.2em;
}

nav.navbar a.navbar-brand img[src$="images/unity/made-with-unity.svg"] {
    height: 32px;
    margin: 10px 0.5em 8px 0.3em;
}

nav.navbar ul.dropdown-menu {
    padding: 2px 12px;
    width: max-content;
}

nav.toc li>ul {
    display: block !important;
}

nav.toc span.expand-stub {
    display: none !important;
}

div.affix a.link-body-emphasis {
    font-weight: bold;
}


nav.navbar a.navbar-brand {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    font-family: 'Inter', 'M PLUS 2', sans-serif;
    letter-spacing: -0.025em;
    -font-weight: 900;
}

h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', 'M PLUS 2', sans-serif;
}

h1.api {
    -font-size: calc(1.3rem + 1.0vw);
    font-weight: 300;
}
